body
{
	margin:0px;
	padding:0px;
	padding-bottom:20px;
	background:#252525 url('../image/page_background.png') 0px 0px repeat-x;		
}
body,input,textarea,a
{
	color:#9F9F9F;
	font:13px Arial;
}
a img
{
	border:none;
}	
a
{	
	text-decoration:none !important;
}
img.c1 {width:210px;height:86px}
a:hover
{
	text-decoration:underline;
	color:#33CCFF;
}
div.menu_poziome
{
	margin-left:15%;
	width:1000px;
	height:50px;
	text-align:center;
	padding-top:auto;
	overflow-x:hidden;
}
div.glowna
{
	width: 1024px;
	height: 950px;
	margin: auto;
}
div.heder
{
	margin-top:50px;
	width: 1024px;
	height: 160px;
	background:url('../image/header_light.png') 0px 0px no-repeat;
}

div.logo
{
	width: 320px;
	height: 159px;
	margin-top: -140px;
	margin-left: 34px;
}
div.kontaktowe
{	
	width: 630px;
	height: 108px;
	margin-left:394px;
	clear: both;
	padding-top:32px;
	text-align: center;
}
div.menu
{
	width: 1024px;
	height: 520px;
	padding-left:auto;
	clear: both;
}
div.nremail
{
	text-align: center;
	margin-left:210px;
	width:380px;
}
div.stopka
{
	background:url('../image/header_light.png') 50% 0px no-repeat;
	width: 1024px;
	height: 185px;
	text-align: center;
	padding-top: 3%;
}
div.elementscolor
{
	margin:auto;
	margin-top:auto;
}
div.blueblock
{
	width: 200px;
	height: 450px;
	margin-top: auto;
	margin-left:70px;
}
div.greenblock
{
	width: 200px;
	height: 450px;
	margin-top: -450px;
	margin-left:300px;
}
div.yellowblock
{
	width: 200px;
	height: 450px;
	margin-top: -450px;
	margin-left:530px;
}
div.orangeblock
{
	width: 200px;
	height: 450px;
	margin-top: -450px;
	margin-left:760px;
}
ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	float: left;
	padding: 1px 0 1px 1px;
}

ul li {
	float: left;
}

ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	font-weight: bold;
	padding: 7px 14px;
}

ul a:hover {
	background-color: #00E600;
	opacity:0.8;
	color: white;
	border-radius:15px;
}